body{
    margin: 0;
    padding:0;

    height: 100vh;
    /*width: 100wh;*/
   
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}
input, button, textarea{
    font-family: inherit;
    font-size: inherit;
    display: block;
}
.wrapper, .wrapper-reader{

width: 100%;
height: 100%;
font-size: 20px;
display: flex;
flex-direction: column;
 justify-content: center; 
 align-items: center;
}



textarea{
border: black solid 2px;
 height:50%; 
 width: 30%; 
 /* margin-bottom: 20px;  */

}
.start, .cancel, .pause, .back, .continue, .reread{    
    width: 100%;
    padding: 10px;
    margin:10px 10px;
 
    background-color:lawngreen;
    border-radius: 5px;
    
}

.hidden{
    display: none;
}
.visible{
    display: flex;
}
.word-reader-row, .text-insert-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.word{
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid black;
    font-size: 20px;
     width: 30%;
      
     align-self: center; 
     padding: 20px 0px;
}
.buttons{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
 
  
}
.slidecontainer{
    margin-top: 10px;
}

@media (max-width:767px){
    .word{
        width: 70%;
    }
 
    .buttons{  
        width: 70%;
        display:flex;    
   flex-direction: column;
    margin-top: 10px;
   } 
    textarea{
 
 width: 70%; }
    
  
  

}

